@model List<Product>

@{
    ViewData[Constant.ViewDataKey.Title] = "Product";
}

@section ScriptFooter
{
    <partial name="../Shared/_DataTable.cshtml" model="Model"/>
    <script type="text/javascript">
        const app = new Vue({
            el: "#app",
            data: {
                size: 8,
                theads: [
                    "#",
                    "Id",
                    "Name",
                    "Category Name",
                    "Price",
                    ""
                ],
                tbodies: data.map(function (t, i) {
                    return [
                        (i + 1),
                        t.id + "<a> @Url.Action("Edit")/" + t.id,
                        t.name,
                        t.categoryName,
                        toCurrency(t.price),
                        "<x> @Url.Action("Delete")/" + t.id
                    ];
                })
            }
        });
    </script>
}
<div id="app" class="mb-5" v-cloak>
    <data-table
        :size="size"
        :theads="theads"
        :tbodies="tbodies"
        :search-by-index="2"
        search-placeholder="Search by Product Name"
        title="Product">
        <template slot="action">
            <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Add">
                Add Product
            </a>
            <a class="btn btn-primary ml-1" asp-controller="Product" asp-action="Category">
                Product Category
            </a>
        </template>
    </data-table>
</div>