@model List<Discount>

@{
    ViewData[Constant.ViewDataKey.Title] = "Discount";
}

@section ScriptFooter
{
    <partial name="../Shared/_DataTable.cshtml" model="Model"/>
    <script type="text/javascript">
        const app = new Vue({
            el: "#app",
            data: {
                size: 8,
                theads: [
                    "#",
                    "Code",
                    "Type",
                    "Value",
                    ""
                ],
                tbodies: data.map(function(t, i) {
                    return [
                        (i + 1),
                        t.code + "<a> @Url.Action("Edit")/" + t.code,
                        t.type,
                        toCurrency(t.value),
                        "<x> @Url.Action("Delete")/" + t.code
                    ];
                })
            }
        });
    </script>
}

<div id="app" class="mb-5" v-cloak>
    <data-table
        :size="size"
        :theads="theads"
        :tbodies="tbodies"
        :search-by-index="1"
        search-placeholder="Search by Code"
        title="Discount">
        <a class="btn btn-outline-primary" asp-controller="Discount" asp-action="Add" slot="action">
            Add Discount
        </a>
    </data-table>
</div>