@model List<Transaction>

@{
    ViewData[Constant.ViewDataKey.Title] = "Transaction";
}

@section ScriptFooter
{
    <partial name="../Shared/_DataTable.cshtml" model="Model"/>
    <script type="text/javascript" src="~/lib/moment.min.js"></script>
    <script type="text/javascript">
        function formatDate(val) {
            if (val)
                return moment(val).format("ddd, DD MMM YYYY hh:mm");
        }

        const app = new Vue({
            el: "#app",
            data: {
                size: 8,
                theads: [
                    "#",
                    "Id",
                    "Notes",
                    "Payment Status",
                    "Payment Type",
                    "Created Date",
                    "Total Price",
                    ""
                ],
                tbodies: data.map(function(t, i) {
                    return [
                        (i + 1),
                        t.id + "<a> @Url.Action("Detail")/" + t.id,
                        t.notes === "" ? "-" : t.notes,
                        t.paymentStatus,
                        t.paymentType,
                        formatDate(t.createdDate),
                        toCurrency(t.totalPrice),
                        "<x> @Url.Action("Delete")/" + t.id
                    ];
                })
            }
        });
    </script>
}

<div id="app" class="mb-5" v-cloak>
    <data-table
        :size="size"
        :theads="theads"
        :tbodies="tbodies"
        :search-by-index="1"
        search-placeholder="Search by Id"
        title="Transaction">
            <a class="btn btn-outline-primary"
               asp-controller="Transaction"
               asp-action="SalesRegister"
               slot="action">
                Add Transaction
            </a>
    </data-table>
</div>
