@model List<Transaction>

@{
    ViewData[Constant.ViewDataKey.Title] = "Transaction";
}

<div class="d-flex mb-5">
    <h3 class="mr-auto">Transaction</h3>
    <a class="btn btn-outline-primary" asp-controller="Transaction" asp-action="SalesRegister">
        Add Transaction
    </a>
</div>

<partial name="_TableTransactionPartial.cshtml" model="Model"/>